*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background: url("./pay-2662758_1920.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.68))
    ,url("./pay-2662758_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 12px;
}
main{
    height: 90vh;
}
#num_row1 input,#num_row2 input,#num_row3 input,#num_row4 input,#num_row5 input{
    font-size: 15px;
    font-weight: 550;
}
section{
    height: 600px; 
    width: 450px;
    background-color: #E760E1;
    margin: 0px auto;
    border-radius: 30px;
    border: 5px solid #5D5AFF;
}
.mainHead{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#headArea{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    padding: 1rem 0;
    padding-left: 50px;
}
#darkDiv,#lightDiv{
    flex-basis: 10%;
    padding: 0.7rem 0;
}
#darkDiv > img,#lightDiv > img{
    width: 35px;
}
#lightDiv{
    display: none;
}
#resultArea{
    display: flex;
    justify-content: center;
    padding: 10px 23px;
}
#resultArea > input{
    width: 550px;
    padding: 20px;
    background-color: #5D5AFF;
    border-radius: 10px;
    outline: outset;
    outline-width: 10px;
    font-size: x-large;
    font-weight: bolder;
    text-align: end;
}
#onOffArea{
    display: flex;
    justify-content: end;
    padding: 20px;
}
#div_btn > input{
    width: 85px;
    padding: 8px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    font-size: 14px;
    font-weight: bold;
}
#num_row1 {
    display: flex;
    padding: 0px 15px;
    justify-content: space-around;
}
#num_row1 > input {
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#num_row2 {
    display: flex;
    padding: 20px 15px 0px 15px;
    justify-content: space-around;
}
#num_row2 > input {
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#num_row3 {
    display: flex;
    padding: 0px 15px;
}
#div_col1,#div_col2,#div_col3,#div_col4,#div_col5 {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div_col1 > div {
    padding-top: 20px;   
}
#div_col1 > div > input{
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#div_col2 > div {
    padding-top: 20px;
}
#div_col2 > div > input{
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#div_col3 > div {
    padding-top: 20px;
}
#div_col3 > div > input{
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#div_col4 > div {
    padding-top: 20px;
}
#div_col4 > div > input{
    width: 70px;
    height: 145px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#div_col5 > div {
    padding-top: 20px;
}
#div_col5 > div > input{
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
#div_col5 > form {
    padding-top: 20px;
}
#div_col5 > form > input{
    width: 70px;
    padding: 23px;
    border: none;
    /* background-color: #5D5AFF; */
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px black;
}
.samecolor{
    background-color: #5D5AFF;
}





@media screen and (max-width : 500px){
    header{
        height: 70px;
        font-size: 6px;
    }
    #headArea{
        font-size: 18px;
    }
    #darkDiv,#lightDiv{
        flex-basis: 10%;
        padding: 0.3rem 0rem;
    }
    #darkDiv > img,#lightDiv > img{
        width: 30px;
    }
    section{
        height: 500px; 
        width: 350px;
        border-radius: 20px;
    }
    #resultArea{
        padding: 8px 0px;
    }
    #resultArea > input{
        width: 310px;
        padding: 8px;
    }
    #onOffArea{
        padding: 13px;
    }
    #div_btn > input{
        width: 70px;
        padding: 8px;
        font-size: 11px;
    }
    #num_row1 > input,#num_row2 > input,#div_col1 > div > input,#div_col2 > div > input,
    #div_col3 > div > input,#div_col4 > div > input, #div_col5 > div > input {
        width: 55px;
        padding: 18px;
    }
    #div_col4 > div > input{
        height: 125px;
    }
}